/* footer */

footer {
  width: 100vw;
  background: var(--main-color);
  color: var(--basic-white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  padding: 1rem;
}

.footer-logo__main {
  font-size: 1.5rem;
  font-family: var(--font-title);
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: var(--basic-white-color);
  text-align: center;
}

.footer-logo__sub {
  font-size: 1.2rem;
  font-family: var(--font-subtitle);
  font-weight: 300;
  letter-spacing: 0.08rem;
  color: var(--basic-white-color);
  text-align: center;
}

.navbar-footer .navbar__categories {
  display: flex;
  flex-direction: row;
  color: var(--basic-white-color);
  margin: 1rem 0;
}

.navbar-footer__category a {
  color: var(--basic-white-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--font-subtitle);
  font-weight: 300;
  width: 100%;
  padding: 0 1rem;
}

.navbar-footer__category:not(:last-child) {
  border-right: 2px solid var(--basic-white-color);
}

.navbar-footer__category a:hover {
  color: var(--basic-darker-white-color);
}

.social-media {
  width: 50%;
  margin: 1rem 0;
}

.social-media__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.social-media__container li a {
  color: var(--basic-white-color);
  font-size: 2rem;
}

.copyright p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-subtitle);
  font-weight: 100;
}
