/* utility class */
.btn {
  padding: 0.5rem;
  font-size: 0.8rem;
  background: var(--main-color);
  border: 1px solid var(--main-darker-color);
  border-radius: 0.2rem;
  font-weight: 400;
}

.btn a {
  color: #fff;
}

.btn:hover {
  background: var(--main-darker-color);
}

/* logo */

/* No modification throught media query */
.logo__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.logo {
  height: 85px;
  position: relative;
  width: 250px;
}

.logo__main {
  font-size: 2.5rem;
  padding: 0;
  font-family: var(--font-title);
  font-weight: 900;
  position: absolute;
  top: 0;
  color: #000;
}

.logo__sub {
  font-size: 1.7rem;
  font-family: var(--font-subtitle);
  font-weight: 200;
  letter-spacing: 0.2rem;
  bottom: 40px;
  position: absolute;
  top: 2.5rem;
  color: var(--main-color);
}

/* Navbar */
.navbar__main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* to be under proper file later if mayber */

/* navbar general: position */
.navbar__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--main-color);
  height: 7vh;
}

.navbar__item {
  padding: 0.3rem;
}

/* logo, topggel: position */
.navbar__toggle,
.navbar__logo {
  width: 20%;
  text-align: center;
}

.navbar__toggle:focus,
.navbar__toggle:hover {
  cursor: pointer;
}

.navbar__item--hidden {
  display: none;
}

/* navbar logo: styling */
.navbar__logo h1 {
  color: var(--basic-white-color);
  font-size: 1.2em;
  padding: 0;
  font-family: var(--font-title);
  font-weight: 900;
}

/* navbar side */
.navbar-side {
  position: absolute;
  top: auto;
  left: 0;
  z-index: 100;
  opacity: 0.9;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: none;
}

.navbar-side .navbar__categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-left: 4px solid var(--basic-white-color);
  height: 30vh;
}

.navbar-side__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-side__button--close {
  align-self: flex-end;
  color: var(--basic-white-color);
  font-size: 1.8rem;
}

.navbar-side__category {
  color: var(--basic-white-color);
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  font-family: var(--font-subtitle);
  font-weight: 700;
  width: 100%;
  padding: 0 1rem;
}

.navbar-side__category:hover {
  letter-spacing: 0.6rem;
  color: var(--basic-darker-white-color);
}

.visible {
  display: block;
}

@media (min-width: 992px) {
  /* navbar items  */
  .navbar__item--hidden {
    display: block;
  }

  .navbar__items a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    font-family: "Big Shoulders Text", cursive;
    font-weight: 700;
    border-left: 4px solid #fff;
    width: 100%;
    padding: 0.3rem;
  }

  .navbar__item:nth-child(5) a {
    border-right: 4px solid #fff;
  }

  .navbar__item:not(:first-child):not(:last-child) {
    width: 100%;
    text-align: center;
  }

  .navbar__logo,
  .navbar__toggle {
    width: 30%;
    text-align: center;
  }

  .navbar__item a:hover {
    letter-spacing: 0.6rem;
    color: var(--basic-darker-white-color);
  }

  /* .visible {
    display: block;
} */
}
